* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
}
/* The Header */
header {
  padding: 20px;
  background: linear-gradient(150deg, #0a8bdc 37%, transparent 24.5%);
}

.about-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
.about-img img {
  max-width: 100%;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgb(149, 150, 150);
  position: relative;
}
.about-img h2 {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 4rem;
  font-weight: 5;
  text-align: justify;
  padding: 2rem;
}

/* ##################### About Me ####################### */
.about-me-text {
  padding: 40px;
}
.about-me-text h3 {
  font-size: 4rem;
  font-weight: 5;
  margin: 5px 0;
  text-align: center;
}
.about-me-text p {
  font-size: 30px;
  color: rgb(70, 65, 65);
  text-align: justify;
}
.icon {
  font-size: 30px;
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ##################### Hedear Responsive ####################### */

@media screen and (min-width: 660px) {
  header {
    padding: 0;
    background: linear-gradient(160deg, #0a8bdc 55%, transparent 40.5%);
  }
  .header-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0 2rem 0 2rem;
    margin: 0 2rem 0 2rem;
  }
  .about-img {
    transform: translate(0, 5px);
    grid-column: 1/4;
    grid-row: 1/4;
    place-self: center;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 2;
  }
  .about-img img {
    grid-column: 1/4;
    grid-row: 1/4;
    position: static;
  }
  .about-img h2 {
    position: static;
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 0;
    font-size: 3rem;
    z-index: 99;
    align-self: start;
    justify-self: end;
    transform: translate(20px);
  }
  .about-me-text {
    grid-column: 1/4;
    grid-row: 2/5;
    margin-left: 30px;
    background: #ffffff;
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(149, 150, 150);
    transform: translate(0, -10px);
  }
}

@media screen and (min-width: 850px) {
  header {
    padding: 40px;
    background: linear-gradient(160deg, #0a8bdc 55%, transparent 40.5%);
  }
  .header-center {
    display: flex;
  }
  .about-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  .about-img img {
    max-width: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgb(149, 150, 150);
    position: relative;
  }
  .about-img h2 {
    position: absolute;
    align-self: start;
    justify-self: end;
    transform: none;
  }
  .about-me-text {
    margin: 0;
    background: #ffffff;
    padding: 0 10px 0 10px;
    box-shadow: 2px 2px 5px rgb(149, 150, 150);
    transform: translate(0, -10px);
    height: 30%;
    align-self: center;
    width: 60%;
  }
  .about-me-text h3 {
    font-size: 2rem;
    font-weight: 5;
    margin: 0;
    text-align: center;
  }
  .about-me-text p {
    font-size: 20px;
    color: rgb(70, 65, 65);
    text-align: justify;
  }
}
/* ##################### card Section ####################### */
.container {
  padding: 50px;
}
.container h1 {
  text-align: center;
  font-size: 2.5rem;
}
.cards {
  box-shadow: 2px 2px 5px rgb(149, 150, 150);
  width: 300px;
  height: 400px;
  background: #fff;
  margin: 30px auto;
}
.card-one {
  width: 100%;
  height: 60%;
}
.cards .first {
  background: rgb(150, 39, 41);
}
.cards .second {
  background: rgb(147, 133, 201);
}
.cards .third {
  background: rgb(102, 143, 84);
}
.cards .fourth {
  background: rgb(208, 110, 174);
}
.cards .fifth {
  background: rgb(220, 155, 15);
}
.cards .sixth {
  background: rgb(87, 172, 233);
}
.card-one {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 2;
}

/* ##################### section Responsive ####################### */
@media screen and (min-width: 576px) {
  .card-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container h1 {
    text-align: left;
    color: #aca5a5;
    margin: 0 auto;
  }
  .cards {
    flex: 0 0 calc(50% - 1em);
    margin: 0 auto 3rem;
  }
}
@media screen and (min-width: 776px) {
  .cards {
    flex: 0 0 calc(33.3% - 1em);
  }
}
/* ##################### Footer ####################### */
.footer {
  background: #0a8bdc;
  margin: 0;
}
.contact-me {
  padding: 40px;
  color: #f8f3f3;
  display: inline-block;
}
.contact-me h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 0.5rem;
}
.contact-me p {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem;
}
footer img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  object-fit: cover;
}
/* ##################### Footer responsive####################### */
@media screen and (min-width: 576px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer img {
    width: 80%;
    height: 80%;
  }
  .contact-me {
    flex: 0 0 calc(50% - 10px);
  }
  .footer-img {
    flex: 0 0 calc(50% - 10px);
  }
}
